{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Admin Login{% endblock %}

{% block section %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    
    <form action="{{ path('blog_admin_security_logincheck') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="_password" />
        
        <button type="submit">login</button>
    </form>
{% endblock %}